 <head>
    <style>
        body {
            background-color:crimson
        }
    </style>
    <script type="javascript" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
{% if user.is_authenticated %}
<h1>Welcome to Assassins, {{ user.username }}.</h1>

<p>Click here to create a new lobby.</p>

<form action='{% url "assassins:obliterate" uuid=user.username %}'' method="DELETE">
    <input type="submit" value="Obliterate nickname">
</form>

{% else %}
<h1>Welcome to Assassins.</h1>
<p>Navigate to <a href="{% url 'assassins:register' %}">/assassins/register</a> to register a nickname.</p>
{% endif %}

